@import url(https://fonts.google.com/betterspecimen/Satisfy?preview.text=Create%20a%20%20new%20task&preview.text_type=custom#styles);


body {
    background: linear-gradient(-45deg, #FFCDB2, #FFB4A2, #E5989B, #B5838D, #461220);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

html, body
 {
	height: 100%;
  color: #4f000b;
}
.container {
	height: 100%;
	align-items:center;
  justify-content:center;
}

.animated-word {
	font-family: Satisfy;
	letter-spacing: 0.2em;
	font-weight: 600;
	font-size: 15px;
	text-align:justify;
	color: #ffdab9;
  cursor: pointer;
  max-width:none;
  width: 100%; 
  outline: 1px solid;
  outline-color: #feeafa;
  outline-offset: 8px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
	color: #ffdab9;
  outline-color: #ffdab9;
  outline-offset: 800px;
}

a {
    text-decoration:none;
    color: #461220;
}

a:hover {
  color: #ffdab9;
}

/* -------------------LogIn Page -------------------*/

html {
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #461220;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #ffdab9;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #461220;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #461220;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  color: #461220;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffdab9;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  color: #ffdab9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #ffdab9;
  color: #461220;
  border-radius: 8px;
  box-shadow: 0 0 5px #ffdab9,
              0 0 25px #ffdab9,
              0 0 50px #ffdab9,
              0 0 100px #ffdab9;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffdab9);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffdab9);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffdab9);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffdab9);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

button {
  all:unset;
  padding: 10px 20px;
}

/* ------------------------------------SignUp Page-------------------------------- */

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#ffdab9, #461220);
}
.p {
  color: #ffdab9;
  font-size: 10px;
}

.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #461220;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #ffdab9;
  text-align: center;
}

.signup-box .signupuser-box {
  position: relative;
}

.signup-box .signupuser-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #461220;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #461220;
  outline: none;
  background: #ffdab9;
}

.signup-box .pswrepeat input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #461220;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #461220;
  outline: none;
  background: #ffdab9;
}

.signup-box .signupuser-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #461220;
  pointer-events: none;
  transition: .5s;
}


.signup-box .signupuser-box p {
  color: #ffdab9
}

.signup-box .signupuser-box input:focus ~ label,
.signup-box .signupuser-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffdab9;
  font-size: 12px;
}

.signup-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffdab9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.signup-box a:hover {
  background: #ffdab9;
  color: #461220;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffdab9,
              0 0 25px #ffdab9,
              0 0 50px #ffdab9,
              0 0 100px #ffdab9;
}

.signup-box a span {
  position: absolute;
  display: block;
}

.signup-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffdab9);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.signup-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffdab9);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.signup-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffdab9);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.signup-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffdab9);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

button {
  all:unset;
  padding: 10px 20px;
}