{% extends "base.html" %}

{% block content %}
    <main>
        <div class="login-box">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="user-box">
                    <input type="text" name="username" required=""/>
                    <label>Username</label>
                    </div>
                    <div class="user-box">
                    <input type="password" name="password" required=""/>
                    <label>Password</label>
                    </div>
                    <div>
                    <a href="">
                        <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Login
                        </button>
                    </a>
            </form>
        </div>
    </main>
{% endblock content %}