{% extends "base.html" %}

{% block content %}
    <main>
        <div class="signup-box">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                <div class="signupuser-box">
                    <input type="text" name="username" required="">
                    <label>Username</label>
                    <div>
                    <p>Required. 150 characters or fewer. Letters,digits and @/./+/-/_ only. </p>
                    </div>
                </div>
                <div class="signupuser-box">
                    <input type="password" name="password" required="">
                    <label>Password</label>
                    <p>-Your password can’t be too similar to your other personal information.
                    <p>-Your password must contain at least 8 characters.
                    <p>-Your password can’t be a commonly used password.
                    <p>-Your password can’t be entirely numeric.
                </div>
                <div class="pswrepeat">
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                <a href="{% url 'login' %}">
                    <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Sign Up
                    </button>
                </a>
            </form>
        </div>
    </main>
{% endblock content %}